* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.encripito {
    align-items: center;
    background-color: aquamarine;
    margin-left: 65%;
    margin-top: 50px;

}